<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Treuebonus</th>
            <th>Konzert</th>
        </tr>
            <% for (let i = 0; i < tickets.length; i++){ %>
                <tr>
                    <td><%- tickets[i].name  %> </td> 
                    <td><%- tickets[i].email  %> </td>
                    <td><%- tickets[i].telefon  %> </td>
                    <td><%- tickets[i].treuebonus  %> </td>
                    <td><%-  %> </td>
                </tr>
            <% } %> 
        
    </table>
</body>
</html>